{% if shop.customer_accounts_enabled %}
    {% if customer %}
      Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
    {% else %}
      {{ 'Log in' | customer_login_link }}
      {% if shop.customer_accounts_optional %}
      or {{ 'Create an account' | customer_register_link }}
      {% endif %}
    {% endif %}
  {% endif %}