<div id="navbar-mobile">
  <div class="row">
    <div>
      <button id="hamburger">Menu</button>
    </div>
    <div data-logo class="flex justify-center">Usal <span class="registered">&reg;</span> Los Angeles, CA</div>
    <div class="flex justify-right" data-cart-mobile>
      <a href="/cart">
        <span>Cart</span>
        ({{ countCart }})
      </a>
    </div>
  </div>
</div>

{% comment %} 
*
* Navbar Modal
*
{% endcomment %}
<div class="navbar-mobile--modal">
  <div class="row">
    <div class="closer">[close]</div>
    <nav role="navigation">
      <ul>
        <li>
          <a href="/" title="Home">
            <span class="counter">[1]</span>
            <span class="link-text">Home</span>
          </a>
        </li>
        <li>
          <a href="/apps/events/calendar" title="Calendar">
            <span class="counter">[2]</span>
            <span class="link-text">Calendar</span>
          </a>
        </li>
        <li>
          <a href="/collections/goods" title="Goods">
            <span class="counter">[3]</span>
            <span class="link-text">Goods</span>
          </a>
        </li>
        <li class="has-dropdown">
          <a href="/collections/experiences" title="Experiences">
            <span class="counter">[4]</span>
            <span class="link-text">Experiences</span>
          </a>
          <ul class="submenu">
            <li>
              <a href="/collections/escape" title="Escape">
              <span class="link-text">Escape</span>
              </a>
            </li>
            <li>
              <a href="/collections/learn" title="Learn">
              <span class="link-text">Learn</span>
              </a>
            </li>
            <li>
              <a href="/collections/retreats" title="Retreats">
              <span class="link-text">Retreats</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/collections/membership" title="Membership">
            <span class="counter">[5]</span>
            Membership
          </a>
        </li>
        <li class="has-dropdown">
          <a href="/pages/connect" title="Connect">
            <span class="counter">[6]</span>
            Connect
          </a>
          <ul class="submenu">
            <li><a href="/pages/mission" title="Mission">Mission</a></li>
            <li><a href="/blogs/field-log" title="Field Log">Field Log</a></li>
            <li><a href="/pages/connect" title="Contact">Contact</a></li>
            <li><a href="/pages/hear" title="Hear">Hear</a></li>
            <li><a href="/pages/see" title="See">See</a></li>
            <li><a href="/pages/mailing-list" title="Mailing List">Mailing List</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>

<script>
  var hamburger = document.getElementById('hamburger');
  var mobileContent = document.getElementById('mobile-content');

  hamburger.addEventListener('click', function(e) {
    mobileContent.style.height = 'auto';
  });
</script>