<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="row">
        <span class="modal-close">[<u>close</u>]</span>
        <div class="top">
            <div class="title">
                <span>Sign up to our Newsletter</span>
            </div>
            <div class="date">
                <div>{{ "today" | date: "%B %d, %Y" }}</div>
            </div>
        </div>
        
    </div>
  </div>

</div>