<script>
  function offsetLocalTimezone(d) {
    return new Date(d.getTime() + d.getTimezoneOffset() * 60000);
  }
  function formatDate(date) {
    let d = new Date(date);

    let month = '' + (
        d.getMonth() + 1
      ),
      day = '' + d.getDate(),
      year = d.getFullYear();

    if (month.length < 2) 
      month = '0' + month;
    


    if (day.length < 10) 
      day = '0' + day;
    


    return [year, month, day].join('-');
  }

  document.addEventListener('DOMContentLoaded', function() {
    var eventInfoElement = document.getElementById("calendar-event-info");
    var eventInfoTitleElement = eventInfoElement.querySelector('.event-info-title');
    var eventInfoDateElement = eventInfoElement.querySelector('.event-info-date');
    var eventInfoLocationElement = eventInfoElement.querySelector('.event-info-location');
    var eventInfoPriceElement = eventInfoElement.querySelector('.event-info-price');
    var eventInfoImageElement = eventInfoElement.querySelector('.event-info-image');
    var eventInfoSoldoutElement = eventInfoElement.querySelector('.event-info-soldout');
    var eventInfoViewButton = eventInfoElement.querySelector('a.button');

    var container = document.querySelector('.calendar-widget-container');
    var loaderElement = container.querySelector('.calendar-loader');
    var eventInfoCloseDelay = false;

    var calendarEl = document.getElementById('calendar-widget');

    container.parentNode.style.position = 'relative';

    var calendarx = new FullCalendar.Calendar(calendarEl, {
      initialView: 'listYear',
      timeZone: 'PST',
      locale: Shopify.locale,
      dateAlignment: 'month',
      headerToolbar: {
        right: 'custom3',
        left: 'title custom1,custom2'
      },
      customButtons: {
        custom1: {
          text: '',
          click: function() {
            e.preventDefault();
          }
        },
        custom2: {
          text: '',
          click: function() {
            e.preventDefault();
          }
        },
        custom3: {
          text: '',
          click: function(e) {
            e.preventDefault();
          }
        }
      },
      views: {
        dayGridMonth: {
          titleFormat: {
            month: 'long'
          }
        }
      },
      dayHeaders: false,
      displayEventTime: false,
      height: 'auto',
      loading: function(isLoading) {
        loaderElement.style.visibility = isLoading
          ? 'visible'
          : 'hidden';
      },
      events: function(fetchInfo, onSuccess, onFailure) {
        const url = new URL('https://94qrm2we1l.execute-api.us-east-1.amazonaws.com/production/storefront/calendar');
        const params = {
          shop: Shopify.shop,
          startDate: formatDate(fetchInfo.start),
          endDate: formatDate(fetchInfo.end),
          currentDate: formatDate(new Date()),
          lang: Shopify.locale
        };

        url.search = new URLSearchParams(params).toString();

        fetch(url.toString()).then(function(response) {
          return response.json();
        }).then(function(result) {
          onSuccess(result.schedule); // DONT DELETE
          console.log(result)
        }).catch(function(error) {
          console.log('[Evey] Failed to fetch events', error);
          onFailure(error);
        });

      },
      eventClick: function(info) {
        info.jsEvent.preventDefault();

        // Source
        var sourceEvent = info.event.extendedProps.source_data;

        // Title
        eventInfoTitleElement.innerHTML = info.event.title;

        // Date
        const dateString = new Intl.DateTimeFormat(Shopify.locale, {
          weekday: 'long',
          year: 'numeric',
          month: 'long',
          day: 'numeric',
          ...(
            info.event.allDay
              ? {}
              : {
                hour: 'numeric',
                minute: '2-digit'
              }
          )
        }).format(offsetLocalTimezone(new Date(info.event.start)));
        eventInfoDateElement.innerHTML = dateString;

        // Location
        eventInfoLocationElement.innerHTML = sourceEvent.location_url
          ? `<a href=${
          sourceEvent.location_url
        }>${
          sourceEvent.location
        }</a>` : sourceEvent.location;

        // Pricing
        eventInfoPriceElement.innerHTML = sourceEvent.min_price == sourceEvent.max_price
          ? sourceEvent.min_price_formatted
          : `${
          sourceEvent.min_price_formatted
        } - ${
          sourceEvent.max_price_formatted
        }`;

        // Sold Out
        eventInfoSoldoutElement.style.display = sourceEvent.is_available
          ? 'none'
          : 'block';

        // Event Link
        eventInfoViewButton.setAttribute('href', info.event.url);

        // Image
        if (sourceEvent.image_url) {
          eventInfoImageElement.querySelector('img').setAttribute('src', sourceEvent.image_url);
          eventInfoImageElement.style.display = 'block';
        } else {
          eventInfoImageElement.style.display = 'none';
        }

        // var containerRect = document.querySelector('.calendar-page-container').getBoundingClientRect();
        // var rect = container.getBoundingClientRect();

        // Show Pop-up
        eventInfoElement.style.visibility = 'visible';

        // Wait before allowing closeout
        setTimeout(function() {
          eventInfoCloseDelay = false;
        }, 500);
        eventInfoCloseDelay = true;
      }
    });
    calendarx.render();

    // Place Year in Title Bar
    var myLocationElement = document.querySelector('.fc-custom3-button');
    var date = calendarx.getDate();
    myLocationElement.innerText = date.getFullYear();
    console.log(date);

    $('.fc-button').on('click', function() {
      var date = calendarx.getDate();
      myLocationElement.innerText = date.getFullYear();
    })

    // Close Overlay
    document.addEventListener('click', function(e) {
      e = e || window.event;
      var target = e.target || e.srcElement;

      if (target.id !== eventInfoElement.id && ! eventInfoElement.contains(target)) {
        if (eventInfoElement.style.visibility === 'visible' && ! eventInfoCloseDelay) {
          eventInfoElement.style.visibility = 'hidden';
        }
      }
    });

  });
</script>


<div class="calendar-widget-container">

  <div style="margin:0 auto;">
    <div>
      <div class='calendar-loader'></div>
      <div data-evey-component="event-calendar" id="calendar-widget"></div>
      <div id="calendar-event-info">
        <div class="event-info-image"><img height='128' /></div>
        <div class="event-info-title"></div>
        <div class="event-info-date"></div>
        <div class="event-info-location"></div>
        <div class="event-info-price"></div>
        <div class="event-info-soldout">{{ "events.storefront.calendar_sold_out" | t }}</div>
        <a class="btn button btn-primary" href="">{{ "events.storefront.calendar_view_event" | t }}</a>
      </div>
    </div>
  </div>
</div>