<section data-module--see class="module">

  {% comment %}
    Header > Desktop
  {% endcomment %}<div class="header--desktop">

    <div class="anime-line">&nbsp;</div>

    <header class="grid g-2fr-4fr">
      <div class="title-block border-right">
        <h2 class="title">See</h2>
        <div class="links flex justify-between">
          <span>(Latest Videos)</span>
          <a href="">View All</a>
        </div>
      </div>

      <div class="content-block">
        <div class="videos">

          <div class="video">
            <div class="info">
              <span>001</span>
              <h2>Video Title</h2>
            </div>
            <div class="video-placeholder">
              placeholder video
            </div>
          </div>

          <div class="video">
            <div class="info">
              <span>002</span>
              <h2>Video Title</h2>
            </div>
            <div class="video-placeholder">
              placeholder video
            </div>
          </div>

        </div>

        <div class="icon">
          <div class="info">
            <span>[B]</span>
            <span>Pathfind</span>
          </div>
          <div class="image">
            <img
              width="100%"
              height="100%"
              src="{{ 'string.svg' | asset_url }}"
              alt="Balance" />
          </div>
        </div>
      </div>
    </header>
  </div>

  {% comment %}
    Header > Mobile
  {% endcomment %}<div class="header--mobile justify-between align-top">
    <div class="title-block flex flex-column justify-between">

      <div class="links flex justify-between align-bottom">
        <span>(Latest Videos)</span>
        <a href="">View All</a>
      </div>

      <div class="anime-line">&nbsp;</div>

      <h2 class="title">See</h2>
    </div>

    <div class="videos">
      <div class="video">
        <div class="info">
          <span>002</span>
          <h2>Video Title</h2>
        </div>
        <div class="video-placeholder">
          placeholder video
        </div>
      </div>
      <div class="video">
        <div class="info">
          <span>002</span>
          <h2>Video Title</h2>
        </div>
        <div class="video-placeholder">
          placeholder video
        </div>
      </div>
    </div>

  </div>

</section>