<div data-blog--article class="article">

    <div class="topper">
        <div>Usal&reg; &nbsp; &nbsp; &nbsp; &nbsp; Los Angeles, California</div>
        <div>
            {{ "today" | date: "%B %d, %Y" }}
        </div>
    </div>
    <header>
        {% render 'navbar' %}
        {% render 'navbar--mobile' %}
    </header>

    <div class="anime-line">&nbsp;</div>

</div>


<style>
    footer,
    footer a  {
        color: var(--white) !important;
    }
    footer.desktop .row {
        border-top: 2px solid var(--white);
        border-bottom: 2px solid var(--white);
    }
    footer svg {
        fill: var(--white) !important;
    }
</style>

<script>
    var logoHolder = $('div[data-logo]');
    logoHolder.html('<h1>{{ page.title }}</h1>')
    (function() {

        $('body').css('background', '#191919');


    }(jQuery))
</script>